:root {
  --primary: #F6FFFF;
  --primary-light: #FFFFFF;
  --primary-dark: #496fb7;
  --secondary: #004487;
  --secondary-light: #779bdf;
  --secondary-dark: #001e59;
  --surface: #1e3da3;
  --on-primary: #004487;
  --on-secondary: #FFFFFF;
  --disabled: #F0F0F0;
  --on-disabled: #606060;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary) url(blue-line.png) repeat-x;
  background-size: auto 15px;;
}

* {
  font-family: 'Poppins Light', cursive;
  color: var(--on-primary);
}

@font-face {
  font-family: 'Poppins Light';
  src: url('Poppins-Light.ttf') format('truetype');
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('./owls.png') no-repeat 0 10px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: var(--secondary-dark)
}