header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header {
  flex: 4;
  padding-top: 5px;
  background: url('owls.png') no-repeat;
}

header .title {
  font-size: xx-large;
  margin-left: auto;
}

header img {
  width: 50px;
  padding-left: 20px;
  vertical-align: middle;
  margin-right: auto;
}

header div {
  margin-right: 10px;
  text-align: center;
}

main {
  flex: 20;
  flex-direction: column;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-left: 1em;
}

main>span {
  margin-top: 1em;
}

span.loading {
  padding-left: 2em;
}
