header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  flex: 4;
  flex-direction: row;
  padding-top: 5px;
}

header .title {
  font-size: xx-large;
  margin-left: auto;
}

header img.logo {
  width: 50px;
  padding-left: 20px;
  vertical-align: middle;
  margin-right: auto;
}

header img.owls {
  padding-top: 20px;
  vertical-align: middle;
}

main {
  flex: 20;
  flex-direction: row;
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding-left: 1em;
  z-index: 0;
}

main section.login {
  flex: 2;
}

main section.login span {
  margin-left: auto;
  display: block;
  width: fit-content;
}

main>span {
  margin-top: 1em;
}

@media only screen and (max-width: 700px) {
  main {
    width: 95%;
    padding-left: 0;
    flex-direction: column-reverse;
  }

  main section.login {
    flex: 1;
  }
}
