footer {
  flex: 2;
  font-size: medium;
  flex-direction: column;
  background: url(../../../blue-line.png) repeat-x;
  background-position: bottom;
}

footer span {
  color: var(--on-secondary);
  margin-top: auto;
}

footer img {
  margin-left: auto;
}
