footer {
  font-size: medium;
  flex-direction: column;
  background: url(../../../blue-line.png) repeat-x;
  background-position: bottom;
  width: 100%;
}

footer span {
  color: var(--on-secondary);
  margin-top: auto;
}

@media only screen and (max-width: 700px) {

  footer span {
    font-size: small;
  }
}

@media only screen and (max-width: 430px) {

  footer span {
    font-size: x-small;
  }
}
