header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  flex: 4;
  flex-direction: column;
  padding-top: 5px;
  background: url(../blue-line.png) repeat-x;
  background-size: auto 15px;
}

header .title {
  font-size: xx-large;
  text-align: center;
}

div.container {
  flex: 20;
  flex-direction: row;
  display: flex;
  width: 100%;
  margin: 0 auto;
  background: var(--primary) url(elephants.png) no-repeat;
  background-position: bottom right;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section.login {
  flex: 2;
}

main section.login span {
  margin-left: auto;
  display: block;
  width: fit-content;
}

main>span {
  margin-top: 1em;
}

@media only screen and (max-width: 700px) {
  div.container {
    width: 95%;
    padding-left: 0;
    flex-direction: column-reverse;
  }

  main section.login {
    flex: 1;
  }
}

@media only screen and (max-width: 430px) {
  header .title {
    font-size: large;
  }

  nav {
    font-size: small;
  }
}